$mainColor: blue;
@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat'), url('../fonts/Montserrat-Bold.woff') format('woff'),
		url('../fonts/Montserrat-Bold.woff2') format('woff2');
	font-weight: 700;
}

body {
	background-image: url('../img/bg.jpg');
	font-family: 'Montserrat', 'sans-serif';
}

h1 {
	font-weight: 700;
}
